<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    {{> headeer}}
    <p>Some text here</p>
    <!-- <p>{{currenttime}}</p> -->
    <!-- <p><a href ="/">home</a></p> -->

    {{> footer}}
  </body>
</html>
