<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
  </head>
  <body>
    {{> headeer}}
    <p>{{screamit text}}</p>
    <p>{{info}}</p>

    <!-- <p>{{currenttime}}</p> -->
    <!-- <h1><a href ='/aboutpage'>aboutpage</a></h1> -->

    {{> footer}}
  </body>
</html>
